body {
  margin: 0;
  font-family: "Karla", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}
h1,h2,h3 {
  font-family: "Markazi Text", serif;
}

.App-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 150px;
  font-weight:500;
}
p{
  font-size:16px;
  line-height: 1.5;
}