body {
  margin: 0;
  font-family: "Karla", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}
h1,h2,h3 {
  font-family: "Markazi Text", serif;
}

.App-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 150px;
  font-weight:500;
}
p{
  font-size:16px;
  line-height: 1.5;
}
button {
  margin-top: 20px;
  padding: 14px;
  border-radius: 14px;
  border: none;
  background-color: #F4CE14;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s ease, transform 0.1s ease;
}

button:hover {
  background-color: #e1bc05;
  transform: translateY(-1px);
}